/* Shrink tab and URL bars */
:root {
  --tab-min-height: 24px !important;
  --urlbar-min-height: 30px !important;
}

/* Shrink URL bar */
#urlbar-container {
  --urlbar-container-height: 32px !important;
}

/* Recenter URL bar */
#urlbar {
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 32px !important;
}

/* Move URL bar to bottom */
#nav-bar {
  position: fixed !important;
  bottom: 0px;
  display: -webkit-box;
  width: 100%;
  z-index: 1;
  background-color: #F2F2F2 !important;
}

/* Fix panels sizing */
.panel-viewstack {
  max-height: unset !important;
}

/* Fix URL bar width */
#nav-bar-customization-target {
  -webkit-box-flex: 1;
}

/* Prevent bottom of page cut off */
:root:not([inFullscreen]) {
  --uc-bottom-toolbar-height: calc(30px + var(--toolbarbutton-outer-padding))
}
#browser, #customization-container {
  margin-bottom: var(--uc-bottom-toolbar-height, 0px)
}

/* Shrink sidebar */
#sidebar-main {
  min-width: 32px !important;
  width: 32px !important;
  transition-property: width;
  transition-duration: 250ms;
}

/* Grow shidebar on hover */
#sidebar-main:hover {
  width: 200px !important;
}

/* Unround the tabs */
.tab-background, .toolbarbutton-1 {
  margin: 0 !important;
  border-radius: 0 !important;
}

.tab-content {
  padding: 8px !important;
}

/* Hide random spacer and titlebar buttons */
#vertical-spacer {
  display: none;
}

.titlebar-buttonbox-container {
  display: none;
}

/* Place titlebar over page content */
#TabsToolbar {
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Show permissions popups above the address bar instead of below */
.popup-notification-panel {
  margin-top: -200px !important;
}
