/* Shrink tab and URL bars */
:root {
  --tab-min-height: 24px !important;
  --urlbar-min-height: 30px !important;
}

/* Shrink URL bar */
#urlbar-container {
  --urlbar-container-height: 32px !important;
}

/* Recenter URL bar */
#urlbar {
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 32px !important;
}

/* Move URL bar to bottom */
#nav-bar {
  position: fixed !important;
  bottom: 0px;
  display: -webkit-box;
  width: 100%;
  z-index: 1;
  background-color: #F2F2F2 !important;
}

/* Fix panels sizing */
.panel-viewstack {
  max-height: unset !important;
}

/* Fix URL bar width */
#nav-bar-customization-target {
  -webkit-box-flex: 1;
}

/* Prevent bottom of page cut off */
:root:not([inFullscreen]) {
  --uc-bottom-toolbar-height: calc(30px + var(--toolbarbutton-outer-padding))
}
#browser, #customization-container {
  margin-bottom: var(--uc-bottom-toolbar-height, 0px)
}

/* Make tabs (& new tab button) larger and less round */
.tab-background, .toolbarbutton-1 {
  border-radius: 4px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  min-width: 42px;
  height: 32px;
}
.tab-content {
  padding-left: 8px !important;
  padding-right: 8px !important;
  height: 36px;
}

/* Hide titlebar buttons */
.titlebar-buttonbox-container {
  display: none;
}

/* Show permissions popups above the address bar instead of below */
.popup-notification-panel {
  margin-top: -200px !important;
}
