/* Shrink tab and URL bars */
:root {
  --tab-min-height: 24px !important;
  --urlbar-min-height: 30px !important;
}

/* Shrink URL bar */
#urlbar-container {
  --urlbar-container-height: 32px !important;
}

/* Recenter URL bar */
#urlbar {
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 32px !important;
}

/*
 * Move URL bar under page
 * https://stackoverflow.com/questions/7425665/switching-the-order-of-block-elements-with-css
 */
html:body {
  display: flex;
  flex-flow: column;
}
#navigator-toolbox {
  order: 2;
}
#browser {
  order: 1;
}

/* Fix panels sizing */
.panel-viewstack {
  max-height: unset !important;
}

/* Make tabs (& new tab button) larger and less round */
.tab-background, .toolbarbutton-1 {
  border-radius: 4px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  min-width: 42px;
  height: 32px;
}
.tab-content {
  padding-left: 8px !important;
  padding-right: 8px !important;
  height: 36px;
}

/* Hide titlebar buttons and irremovable spacer */
.titlebar-buttonbox-container, #vertical-spacer {
  display: none;
}

/* Show permissions popups above the address bar instead of below */
.popup-notification-panel {
  margin-top: -500px !important;
}
